<h1>小編PO文管理系統</h1>
<h4>東南亞資訊</h4>
<%= link_to '新增東南亞資訊', new_admin_info_path, :class => "btn btn-default btn-sm" %>

<table>
  <% @infos.each do |info| %>
  <tr>
    <td>
      <%= info.title %>
    </td>
    <td>

    </td>
  </tr>
  <% end %>
</table> <br>
